{% extends 'base.html' %}

{% block body %}

{% load static %}



<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__title"><h1>Orden de Compra</h1></div>
    </div>
</div>
<div class="block">
    <div class="container">
        <form name="idForm" action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{form}}
            </div>
            <button onclick="getuser()" class="btn btn-primary">Siguiente</button>
        </form>
        <div class="form-group">
            {{form.errors}}
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
        var id = "{{usuario}}"
        var cbx = document.getElementById("id_idusuario");
        for (i = 0; i < cbx.options.length; i++) {
            if(cbx[i].value == id){
                document.getElementById("id_idusuario").selectedIndex = i;
                $('#id_idusuario').prop('disabled', true);
                break;
            }
        } 
    });
    function getuser(){
        
        getuser1();
    };
    function getuser1() {
        $('#id_idusuario').prop('disabled', false);
        $("#idForm").submit()
        //document.getElementById("idForm").submit();
    };
    
</script>
{% endblock %}