{% extends 'base.html' %}

{% block body %}

{% load static %}
<script>
    function myFunction() {
        debugger;
        var sel = document.getElementById("id_idsubcategoria");
        if(document.getElementById("id_idsubcategoria").selectedIndex == 0){
            //agregar mensaje
            return; 
        }
        if(document.getElementById("id_idproveedor").selectedIndex == 0){
            //agregar mensaje
            return; 
        }
        var separar= sel.options[sel.selectedIndex].text;

        var fecha = document.getElementById('id_fechavencimiento').value;
        var dia = '00';
        var mes = '00';
        var ano = '0000';
        if (fecha != '' && fecha != null){

            dia = fecha.substring(0,2);
            mes = fecha.substring(3,5);
            ano = fecha.substring(6,10);

            if (!isValidDate(mes+'/'+dia+'/'+ano)){
                //agregar mensaje
                return;
            }
        }
        
        var pro = document.getElementById('id_idproveedor').value;
        var j = separar.indexOf("-")
        var cat = separar.substring( j+1, j+4);
        var sub = separar.substring(0, 3);

        var id = pro+cat+dia+mes+ano+sub;
        document.getElementById('id_idproducto').value=id;
        document.getElementById("idForm").submit();
    }
    // Validates that the input string is a valid date formatted as "mm/dd/yyyy"
function isValidDate(dateString)
{
    // First check for the pattern
    if(!/^\d{1,2}\/\d{1,2}\/\d{4}$/.test(dateString))
        return false;

    // Parse the date parts to integers
    var parts = dateString.split("/");
    var day = parseInt(parts[1], 10);
    var month = parseInt(parts[0], 10);
    var year = parseInt(parts[2], 10);

    // Check the ranges of month and year
    if(year < 1000 || year > 3000 || month == 0 || month > 12)
        return false;

    var monthLength = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 ];

    // Adjust for leap years
    if(year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
        monthLength[1] = 29;

    // Check the range of the day
    return day > 0 && day <= monthLength[month - 1];
};
</script>
<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__title"><h1>Producto</h1></div>
    </div>
</div>
<div class="block">
    <div class="container">
        <form id="idForm" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{form}}
            </div>
            <div class="form-group">
                {{form.errors}}
            </div>
            <button onclick="myFunction()" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>
{% endblock %}