{% extends 'base.html' %}

{% block body %}

{% load static %}

<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__title"><h1></h1></div>
        <a class="btn btn-success btn-lg" href="{% url 'crear_proveedor' %}">
            Nuevo Proveedor
        </a>
    </div>
</div>
<!--
<div class="block">
    <div class="container">
        <form method="get">
            {{myFilter.form}}
            <button class="btn btn-info btn-sm" type="submit">Filtrar</button>
        </form>
    </div>
</div>
-->
<div class="block">
    <div class="container">
        <!--
        <table class="wishlist">
            <thead class="wishlist__head">
                <tr class="wishlist__row">
                    <th class="wishlist__column wishlist__column--product">N°</th>
                    <th class="wishlist__column wishlist__column--product">Nombre</th>
                    <th class="wishlist__column wishlist__column--product">Email</th>
                    <th class="wishlist__column wishlist__column--product">Teléfono</th>
                    <th class="wishlist__column wishlist__column--product">Rubro</th>
                    <th class="wishlist__column wishlist__column--product"></th>
                    <th class="wishlist__column wishlist__column--product"></th>
                </tr>
            </thead>
            <tbody class="wishlist__body">
            {% for i in proveedores %}
                <tr class="wishlist__row">
                    <td class="wishlist__column wishlist__column--product">
                        <a href="#" class="wishlist__product-name">{{i.idproveedor}}</a>
                    </td>
                    <td class="wishlist__column wishlist__column--product">
                        <a class="wishlist__product-name">{{i.nombreproveedor}}</a>
                    </td>
                    <td class="wishlist__column wishlist__column--product">{{i.correo}}</td>
                    <td class="wishlist__column wishlist__column--product">{{i.telefono}}</td>
                    <td class="wishlist__column wishlist__column--product">{{i.idrubro}}</td>
                    <td class="wishlist__column wishlist__column--product">
                        <a class="btn btn-info btn-sm" href="{% url 'modificar_proveedor' i.idproveedor %}">Modificar</a>
                    </td>
                    <td class="wishlist__column wishlist__column--product">
                        <a class="btn btn-danger btn-sm" href="{% url 'eliminar_proveedor' i.idproveedor %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        -->
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="card mb-lg-0">
                    <div class="card-body">
                        <h3 class="card-title">Filtrar</h3>
                            <form method="get">
                                <div class="form-group">
                                    <label>Rut: </label>
                                    <div>{{myFilter.form.rutproveedor}}</div>
                                    <label>Nombre: </label>
                                    <div>{{myFilter.form.nombreproveedor}}</div>
                                    <label>Rubro: </label>
                                    <div>{{myFilter.form.idrubro}}</div>
                                </div>
                                <button class="btn btn-info btn-sm" type="submit">Filtrar</button>
                            </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-9">
                <div class="card mb-0">
                    <div class="card-body">
                        <h3 class="card-title">Proveedores</h3>
                        <table class="">
                            <thead class="wishlist__head">
                                <tr class="wishlist__row">
                                    <th class="wishlist__column wishlist__column--product">N°</th>
                                    <th class="wishlist__column wishlist__column--product">Nombre</th>
                                    <th class="wishlist__column wishlist__column--product">Email</th>
                                    <th class="wishlist__column wishlist__column--product">Teléfono</th>
                                    <th class="wishlist__column wishlist__column--product"></th>
                                    <th class="wishlist__column wishlist__column--product"></th>
                                </tr>
                            </thead>
                            <tbody class="wishlist__body">
                            {% for i in proveedores %}
                                <tr class="wishlist__row">
                                    <td class="wishlist__column wishlist__column--product">{{i.idproveedor}}</td>
                                    <td class="wishlist__column wishlist__column--product">{{i.nombreproveedor}}</td>
                                    <td class="wishlist__column wishlist__column--product">{{i.correo}}</td>
                                    <td class="wishlist__column wishlist__column--product">{{i.telefono}}</td>
                                    <td class="wishlist__column wishlist__column--product">
                                        <a class="btn btn-info btn-sm" href="{% url 'modificar_proveedor' i.idproveedor %}">Modificar</a>
                                    </td>
                                    <td class="wishlist__column wishlist__column--product">
                                        <a class="btn btn-danger btn-sm" href="{% url 'eliminar_proveedor' i.idproveedor %}">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}