{% extends 'base.html' %}

{% block body %}

{% load static %}
<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__title"><h1>Ordenes de Compra</h1></div>
        <button class="btn btn-success btn-lg">Nueva Orden de Compra</button>
    </div>
</div>
<div class="block">
    <div class="container">
        <table class="wishlist">
            <thead class="wishlist__head">
                <tr class="wishlist__row">
                    <th class="wishlist__column wishlist__column--product">N°</th>
                    <th class="wishlist__column wishlist__column--product">Proveedor</th>
                    <th class="wishlist__column wishlist__column--product">Fecha</th>
                    <th class="wishlist__column wishlist__column--product">Total</th>
                    <th class="wishlist__column wishlist__column--product">Estado</th>
                    <th class="wishlist__column wishlist__column--product">Acciones</th>
                </tr>
            </thead>
            <tbody class="wishlist__body">
            {% for i in ordenes %}
                <tr class="wishlist__row">
                    <td class="wishlist__column wishlist__column--product">
                        <a href="#" class="wishlist__product-name">{{i.idordencompra}}</a>
                    </td>
                    <td class="wishlist__column wishlist__column--product">
                        <a class="wishlist__product-name">{{i.idproveedor}}</a>
                    </td>
                    <td class="wishlist__column wishlist__column--product">{{i.fecha}}</td>
                    <td class="wishlist__column wishlist__column--product">$ </td>
                    <td class="wishlist__column wishlist__column--product">{{i.iestadooc}}</td>
                    <td class="wishlist__column wishlist__column--product">
                        <a type="button" class="btn btn-info btn-sm" href="">Modificar</a>
                    <br>
                    <br>
                        <a type="button" class="btn btn-danger btn-sm" href="">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}