{% extends 'base.html' %}

{% block body %}

{% load static %}
<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__title"><h1>Subcategorías</h1></div>
        <a class="btn btn-success btn-lg" href="{% url 'crear_subcategoria' %}">
            Nueva Subcategoría
        </a>
    </div>
</div>
<div class="block">
    <div class="container">
        <table class="wishlist">
            <thead class="wishlist__head">
                <tr class="wishlist__row">
                    <th class="wishlist__column wishlist__column--product">N°</th>
                    <th class="wishlist__column wishlist__column--product">Nombre</th>
                    <th class="wishlist__column wishlist__column--product">Categoría</th>
                    <th class="wishlist__column wishlist__column--product"></th>
                    <th class="wishlist__column wishlist__column--product"></th>
                </tr>
            </thead>
            <tbody class="wishlist__body">
            {% for i in subcategorias %}
                <tr class="wishlist__row">
                    <td class="wishlist__column wishlist__column--product">
                        <a href="#" class="wishlist__product-name">{{i.idsubcategoria}}</a>
                    </td>
                    <td class="wishlist__column wishlist__column--product">
                        <a class="wishlist__product-name">{{i.nombresubcategoria}}</a>
                    </td>
                    <td class="wishlist__column wishlist__column--product">{{i.idcategoria}}</td>
                    <td class="wishlist__column wishlist__column--product">
                        <a class="btn btn-info btn-sm" href="{% url 'modificar_subcategoria' i.idsubcategoria %}">Modificar</a>
                    </td>
                    <td class="wishlist__column wishlist__column--product">
                        <a class="btn btn-danger btn-sm" href="{% url 'eliminar_subcategoria' i.idsubcategoria %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}