{% extends 'base.html' %}

{% block body %}

{% load static %}
<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__title"><h1>Usuarios</h1></div>
        <a class="btn btn-success btn-lg" href="{% url 'crear_usuario' %}">
            Nuevo Usuario
        </a>
    </div>
</div>
<div class="block">
    <div class="container">
        <form method="get">
            {{myFilter.form}}
            <button class="btn btn-info btn-sm" type="submit">Filtrar</button>
        </form>
    </div>
</div>
<div class="block">
    <div class="container">
        <table class="wishlist">
            <thead class="wishlist__head">
                <tr class="wishlist__row">
                    <th class="wishlist__column wishlist__column--product">Nombre</th>
                    <th class="wishlist__column wishlist__column--product">Email</th>
                    <th class="wishlist__column wishlist__column--product">Rol</th>
                    <th class="wishlist__column wishlist__column--product"></th>
                    <th class="wishlist__column wishlist__column--product"></th>
                </tr>
            </thead>
            <tbody class="wishlist__body">
            {% for i in usuarios %}
                <tr class="wishlist__row">
                    <td class="wishlist__column wishlist__column--product">
                        <a class="wishlist__product-name">{{i.first_name}}</a>
                    </td>
                    <td class="wishlist__column wishlist__column--product">{{i.username}}</td>
                    <td class="wishlist__column wishlist__column--product">
                        {% for group in i.groups.all %}
                            {{group.name}}<br>
                        {% endfor %}
                    </td>
                    <td class="wishlist__column wishlist__column--product">
                        <a class="btn btn-info btn-sm" href="{% url 'modificar_usuario' i.id %}">Modificar</a>
                    </td>
                    <td class="wishlist__column wishlist__column--product">
                        <a class="btn btn-danger btn-sm" href="{% url 'eliminar_usuario' i.id %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}