{% extends 'base.html' %}

{% block body %}

{% load static %}
<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__title">
            <h1>Carro de Compra</h1>
        </div>
    </div>
</div>
<div class="cart block">
    <div class="container">
        <table class="cart__table cart-table">
            <thead class="cart-table__head">
                <tr class="cart-table__row">
                    <th class="cart-table__column cart-table__column--image">Imagen</th>
                    <th class="cart-table__column cart-table__column--product">Producto</th>
                    <th class="cart-table__column cart-table__column--price">Precio</th>
                    <th class="cart-table__column cart-table__column--quantity">Cantidad</th>
                    <th class="cart-table__column cart-table__column--total">Total</th>
                    <th class="cart-table__column cart-table__column--remove"></th>
                </tr>
            </thead>
            <tbody class="cart-table__body">
                {% for item in items %}
                    <tr class="cart-table__row">
                        <td class="cart-table__column cart-table__column--image">
                            <a href="{% url 'detalle_producto' item.idproducto.idproducto %}">
                                <img src="{{item.idproducto.foto.url}}" alt="">
                            </a>
                        </td>
                        <td class="cart-table__column cart-table__column--product">
                            <a href="{% url 'detalle_producto' item.idproducto.idproducto %}" class="cart-table__product-name">{{item.idproducto.nombreproducto}}</a>
                        </td>
                        <td class="cart-table__column cart-table__column--price" data-title="Price">${{item.idproducto.precio}}</td>
                        <td class="cart-table__column cart-table__column--quantity" data-title="Quantity">
                            <div class="input-number">
                                <input class="form-control input-number__input" type="number" min="1" value="{{item.cantidadproducto}}">
                                <div data-product="{{item.idproducto.idproducto}}" data-action="add" class="input-number__add update-cart"></div>
                                <div data-product="{{item.idproducto.idproducto}}" data-action="remove" class="input-number__sub update-cart"></div>
                            </div>
                        </td>
                        <td class="cart-table__column cart-table__column--total" data-title="Total">${{item.get_total}}</td>
                        <td class="cart-table__column cart-table__column--remove">
                            <button data-product="{{item.idproducto.idproducto}}" data-action="delete" type="button" class="btn btn-light btn-sm btn-svg-icon update-cart">
                                <img src="{% static 'images/logos/remove.png' %}" width="12px" height="12px">
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="cart__actions">
            <!-- <form class="cart__coupon-form">
                <label for="input-coupon-code" class="sr-only">Contraseña</label>
                <input type="text" class="form-control" id="input-coupon-code" placeholder="Codigo de cupon">
                <button type="submit" class="btn btn-primary">Aplicar Cupon</button>
            </form> -->
            <div class="cart__buttons">
                <a href="{% url 'index' %}" class="btn btn-light">Continuar Comprando</a> 
                <a href="{% url 'carro' %}" class="btn btn-primary cart__update-button">Actualizar Carro</a>
            </div>
        </div>
        <div class="row justify-content-end pt-5">
            <div class="col-12 col-md-7 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Total Carro</h3>
                        <table class="cart__totals">
                            <!-- <thead class="cart__totals-header">
                                <tr>
                                    <th>Subtotal</th>
                                    <td>${{venta.get_venta_total}}</td>
                                </tr>
                            </thead> -->
                            <!-- <tbody class="cart__totals-body">
                                <tr>
                                    <th>Despacho</th>
                                    <td>$25.00
                                        <div class="cart__calc-shipping">
                                            <a href="#">Calcular Despacho</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>IVA</th>
                                    <td>$0.00</td>
                                </tr>
                            </tbody> -->
                            <tfoot class="cart__totals-footer">
                                <tr>
                                    <th>Total</th>
                                    <td>${{venta.get_venta_total}}</td>
                                </tr>
                            </tfoot>
                        </table>
                        <a class="btn btn-primary btn-xl btn-block cart__checkout-button" href="{% url 'checkout' %}">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}