{% extends 'base.html' %}

{% block body %}

{% load static %}
<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__title"><h1>Dashboard</h1></div>
    </div>
</div>
<div class="block">
    <div class="container">
        <p>Número de Visitas: {{num_visits}}</p>
        <p>Número de Usuarios persona: {{total_personas}}</p>
        <p>Número de Usuarios empresa: {{total_empresas}}</p>
        <!--
        numero de ventas totales
        ventas semanales
        numero de productos
        numero de ordenes de compra
        ventas con despacho
        ventas local vs online
        productos en stock critico
        productos por categoria
        vendedor con mas ventas
        vendedores y ventas totales
        -->
    </div>
</div>
{% endblock %}