{% extends 'base.html' %}

{% block body %}

{% load static %}
<!-- .block-slideshow -->
<div class="block-slideshow block-slideshow--layout--full block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block-slideshow__body">
                    <div class="owl-carousel"><a class="block-slideshow__slide" href="#">
                            <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop">
                                <img src="{% static 'images/slides/slide-1-full.jpg' %}">
                            </div>
                            <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile">
                                <img src="{% static 'images/slides/slide-1-mobile.jpg' %}">
                            </div>
                            <div class="block-slideshow__slide-content">
                                <div class="block-slideshow__slide-title">
                                    Sobre Nosotros
                                    <br>
                                    Ferreteria Ferme
                                </div>
                                <div class="block-slideshow__slide-text">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit.
                                    <br>
                                    Etiam pharetra laoreet dui quis
                                    molestie.
                                </div>
                                <div class="block-slideshow__slide-button">
                                    <span class="btn btn-primary btn-lg">
                                        Ver Más
                                    </span>
                                </div>
                            </div>
                        </a><a class="block-slideshow__slide" href="#">
                            <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop">
                                <img src="{% static 'images/slides/slide-2-full.jpg' %}">
                            </div>
                            <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile">
                                <img src="{% static 'images/slides/slide-2-mobile.jpg' %}">
                            </div>
                            <div class="block-slideshow__slide-content">
                                <div class="block-slideshow__slide-title">
                                    Screwdrivers
                                    <br>
                                    Professional Tools
                                </div>
                                <div class="block-slideshow__slide-text">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit.
                                    <br>
                                    Etiam pharetra laoreet dui quis
                                    molestie.
                                </div>
                                <div class="block-slideshow__slide-button">
                                    <span class="btn btn-primary btn-lg">
                                        Shop Now
                                    </span>
                                </div>
                            </div>
                        </a>
                        <a class="block-slideshow__slide" href="#">
                            <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop">
                                <img src="{% static 'images/slides/slide-3-full.jpg' %}">
                            </div>
                            <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile">
                                <img src="{% static 'images/slides/slide-3-mobile.jpg' %}">
                            </div>
                            <div class="block-slideshow__slide-content">
                                <div class="block-slideshow__slide-title">
                                    One more
                                    <br>
                                    Unique header
                                </div>
                                <div class="block-slideshow__slide-text">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit.
                                    <br>
                                    Etiam pharetra laoreet dui quis
                                    molestie.
                                </div>
                                <div class="block-slideshow__slide-button">
                                    <span class="btn btn-primary btn-lg">
                                        Shop Now
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .block-slideshow / end -->
<!-- .products -->
<div class="container">
    <div class="shop-layout shop-layout--sidebar--start">
        <div class="shop-layout__sidebar">
            <div class="block block-sidebar">
                <div class="block-sidebar__item">
                    <div class="widget-filters widget" data-collapse data-collapse-opened-class="filter--opened">
                        <h4 class="widget__title">Filtros</h4>
                        <div class="widget-filters__list">
                            <div class="widget-filters__item">
                                <div class="filter filter--opened" data-collapse-item>
                                    <button type="button" class="filter__title" data-collapse-trigger>
                                        Categorias
                                        <img class="indicator__icon" width="20px" height="20px" src="{% static 'images/logos/uparrow.png' %}">
                                    </button>
                                    <div class="filter__body" data-collapse-content>
                                        <div class="filter__container">
                                            <div class="filter-categories">
                                                <ul class="filter-categories__list">
                                                    <li class="filter-categories__item filter-categories__item--parent">
                                                        <a href="#">Materiales de Construcción</a>
                                                        <div class="filter-categories__counter">254</div>
                                                    </li>
                                                    <li class="filter-categories__item filter-categories__item--parent">
                                                        <a href="#">Maquinarias y Herramientas</a>
                                                        <div class="filter-categories__counter">75</div>
                                                    </li>
                                                    <!-- tiene clase para destacar la categoria escogida-->
                                                    <li class="filter-categories__item filter-categories__item--current">
                                                        <a href="#">Fijaciones y Adhesivos</a>
                                                        <div class="filter-categories__counter">21</div>
                                                    </li>
                                                    <li class="filter-categories__item filter-categories__item--child">
                                                        <a href="#">Seguridad</a>
                                                        <div class="filter-categories__counter">15</div>
                                                    </li>
                                                    <li class="filter-categories__item filter-categories__item--child">
                                                        <a href="#">Gasfiteria</a>
                                                        <div class="filter-categories__counter">2</div>
                                                    </li>
                                                    <li class="filter-categories__item filter-categories__item--child">
                                                        <a href="#">Maderas y Tableros</a>
                                                        <div class="filter-categories__counter">30</div>
                                                    </li>
                                                    <li class="filter-categories__item filter-categories__item--child">
                                                        <a href="#">Electricidad</a>
                                                        <div class="filter-categories__counter">7</div>
                                                    </li>
                                                    <li class="filter-categories__item filter-categories__item--child">
                                                        <a href="#">Techos y Aislantes</a>
                                                        <div class="filter-categories__counter">5</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-filters__item">
                                <div class="filter filter--opened" data-collapse-item>
                                    <button type="button" class="filter__title" data-collapse-trigger>
                                        Precio
                                        <img class="indicator__icon" width="20px" height="20px" src="{% static 'images/logos/uparrow.png' %}">
                                    </button>
                                    <div class="filter__body" data-collapse-content>
                                        <div class="filter__container">
                                            <div class="filter-price" data-min="500" data-max="1500" data-from="590" data-to="1130">
                                                <div class="filter-price__slider"></div>
                                                <div class="filter-price__title">
                                                    Precio: $
                                                    <span class="filter-price__min-value"></span>
                                                    – $
                                                    <span class="filter-price__max-value"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-filters__item">
                                <div class="filter filter--opened" data-collapse-item>
                                    <button type="button" class="filter__title" data-collapse-trigger>
                                        Marca
                                        <img class="indicator__icon" width="20px" height="20px" src="{% static 'images/logos/uparrow.png' %}">
                                    </button>
                                    <div class="filter__body" data-collapse-content>
                                        <div class="filter__container">
                                            <div class="filter-list">
                                                <div class="filter-list__list">
                                                    <label class="filter-list__item">
                                                        <span class="filter-list__input input-check">
                                                            <span class="input-check__body">
                                                                <input class="input-check__input" type="checkbox"> 
                                                                <span class="input-check__box"></span>
                                                            </span>
                                                        </span>
                                                        <span class="filter-list__title">Wakita </span>
                                                        <span class="filter-list__counter">7</span>
                                                    </label>
                                                    <label class="filter-list__item">
                                                        <span class="filter-list__input input-check">
                                                            <span class="input-check__body">
                                                                <input class="input-check__input" type="checkbox" checked="checked">
                                                                <span class="input-check__box"></span> 
                                                            </span>
                                                        </span>
                                                        <span class="filter-list__title">Zosch </span>
                                                        <span class="filter-list__counter">42</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-filters__actions d-flex">
                            <button class="btn btn-primary btn-sm">Filtro</button> 
                            <button class="btn btn-secondary btn-sm ml-2">Limpiar</button>
                        </div>
                    </div>
                </div>
                <div class="block-sidebar__item d-none d-lg-block">
                    <div class="widget-products widget">
                        <h4 class="widget__title">Ultimos Productos</h4>
                        <div class="widget-products__list">
                            <div class="widget-products__item">
                                <div class="widget-products__image">
                                    <a href="producto.html">
                                        <img src="{% static 'images/products/product-1.jpg' %}" alt="">
                                    </a>
                                </div>
                                <div class="widget-products__info">
                                    <div class="widget-products__name">
                                        <a href="producto.html">Electric Planer Brandix KL370090G 300 Watts</a>
                                    </div>
                                    <div class="widget-products__prices">$749.00</div>
                                </div>
                            </div>
                            <div class="widget-products__item">
                                <div class="widget-products__image">
                                    <a href="producto.html">
                                        <img src="{% static 'images/products/product-4.jpg' %}" alt="">
                                    </a>
                                </div>
                                <div class="widget-products__info">
                                    <div class="widget-products__name">
                                        <a href="producto.html">Drill Series 3 Brandix KSR4590PQS 1500 Watts</a>
                                    </div>
                                    <div class="widget-products__prices">
                                        <span class="widget-products__new-price">$949.00</span> 
                                        <span class="widget-products__old-price">$1189.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-products__item">
                                <div class="widget-products__image">
                                    <a href="producto.html">
                                        <img src="{% static 'images/products/product-5.jpg' %}" alt=""></a>
                                    </div>
                                <div class="widget-products__info">
                                    <div class="widget-products__name">
                                        <a href="producto.html">Brandix Router Power Tool 2017ERXPK</a>
                                    </div>
                                    <div class="widget-products__prices">$1,700.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-layout__content">
            <div class="block">
                <div class="products-view">
                    <div class="products-view__options">
                        <div class="view-options">
                            <div class="view-options__layout">
                                <div class="layout-switcher">
                                    <div class="layout-switcher__list">
                                        <button data-layout="grid-3-sidebar" data-with-features="false" title="Grid" type="button"
                                            class="layout-switcher__button layout-switcher__button--active">
                                            <img class="indicator__icon" width="20px" height="20px" src="{% static 'images/logos/grid.png' %}">
                                        </button>
                                        <button data-layout="list" data-with-features="false" title="List" type="button"
                                            class="layout-switcher__button">
                                            <img class="indicator__icon" width="20px" height="20px" src="{% static 'images/logos/category.png' %}">
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="view-options__legend">Mostrando 6 de 98 productos</div>
                            <div class="view-options__divider"></div>
                            <div class="view-options__control">
                                <label for="">Ordenar por</label>
                                <div>
                                    <select class="form-control form-control-sm" name="" id="">
                                        <option value="">Defecto</option>
                                        <option value="">Nombre (A-Z)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="view-options__control">
                                <label for="">Mostrar</label>
                                <div>
                                    <select class="form-control form-control-sm" name="" id="">
                                        <option value="">12</option>
                                        <option value="">24</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-view__list products-list" data-layout="grid-3-sidebar"
                        data-with-features="false">
                        <div class="products-list__body">
                            <div class="products-list__item">
                                <div class="product-card">
                                    <button class="product-card__quickview" type="button">
                                        <img class="indicator__icon" width="20px" height="20px" src="{% static 'images/logos/view.png' %}">
                                        <span class="fake-svg-icon"></span>
                                    </button>
                                    <div class="product-card__badges-list">
                                        <div class="product-card__badge product-card__badge--new">Nuevo</div>
                                    </div>
                                    <div class="product-card__image">
                                        <a href="producto.html">
                                            <img src="{% static 'images/products/product-1.jpg' %}" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__info">
                                        <div class="product-card__name">
                                            <a href="producto.html">Electric Planer Brandix KL370090G 300 Watts</a>
                                        </div>
                                        <ul class="product-card__features-list">
                                            <li>Speed: 750 RPM</li>
                                            <li>Power Source: Cordless-Electric</li>
                                            <li>Battery Cell Type: Lithium</li>
                                            <li>Voltage: 20 Volts</li>
                                            <li>Battery Capacity: 2 Ah</li>
                                        </ul>
                                    </div>
                                    <div class="product-card__actions">
                                        <div class="product-card__availability">
                                            Disponibilidad: 
                                            <span class="text-success">En Stock</span>
                                        </div>
                                        <div class="product-card__prices">$749.00</div>
                                        <div class="product-card__buttons">
                                            <button class="btn btn-primary product-card__addtocart" type="button">
                                                Añadir al Carrito
                                            </button> 
                                            <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
                                                type="button">
                                                Añadir al Carrito
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-list__item">
                                <div class="product-card">
                                    <button class="product-card__quickview" type="button">
                                        <!--agregar-->
                                        <img class="indicator__icon" width="20px" height="20px" src="{% static 'images/logos/view.png' %">
                                        <span class="fake-svg-icon"></span>
                                    </button>
                                    <div class="product-card__badges-list">
                                        <div class="product-card__badge product-card__badge--hot">Hot</div>
                                    </div>
                                    <div class="product-card__image">
                                        <a href="producto.html">
                                            <img src="{% static 'images/products/product-2.jpg' %}" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__info">
                                        <div class="product-card__name">
                                            <a href="producto.html">Undefined Tool IRadix DPS3000SY 2700 Watts</a>
                                        </div>
                                        <ul class="product-card__features-list">
                                            <li>Speed: 750 RPM</li>
                                            <li>Power Source: Cordless-Electric</li>
                                            <li>Battery Cell Type: Lithium</li>
                                            <li>Voltage: 20 Volts</li>
                                            <li>Battery Capacity: 2 Ah</li>
                                        </ul>
                                    </div>
                                    <div class="product-card__actions">
                                        <div class="product-card__availability">Availability: 
                                            <span class="text-success">In Stock</span>
                                        </div>
                                        <div class="product-card__prices">$1,019.00</div>
                                        <div class="product-card__buttons">
                                            <button class="btn btn-primary product-card__addtocart" type="button">
                                                Add To Cart
                                            </button> 
                                            <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
                                                type="button">
                                                Add To Cart
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                
                            
                            
                            <div class="products-list__item">
                                <div class="product-card">
                                    <button class="product-card__quickview" type="button">
                                        <img class="indicator__icon" width="20px" height="20px" src="{% static 'images/logos/view.png' %}">
                                        <span class="fake-svg-icon"></span>
                                    </button>
                                    <div class="product-card__image">
                                        <a href="producto.html"><img src="{% static 'images/products/product-6.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="product-card__info">
                                        <div class="product-card__name">
                                            <a href="producto.html">Brandix Drilling Machine DM2019KW4 4kW</a>
                                        </div>
                                        <ul class="product-card__features-list">
                                            <li>Speed: 750 RPM</li>
                                            <li>Power Source: Cordless-Electric</li>
                                            <li>Battery Cell Type: Lithium</li>
                                            <li>Voltage: 20 Volts</li>
                                            <li>Battery Capacity: 2 Ah</li>
                                        </ul>
                                    </div>
                                    <div class="product-card__actions">
                                        <div class="product-card__availability">
                                            Availability: 
                                            <span class="text-success">In Stock</span></div>
                                        <div class="product-card__prices">$3,199.00</div>
                                        <div class="product-card__buttons">
                                            <button class="btn btn-primary product-card__addtocart" type="button">
                                                Add To Cart
                                            </button> 
                                            <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
                                                type="button">
                                                Add To Cart
                                            </button> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-list__item">
                                <div class="product-card">
                                    <button class="product-card__quickview" type="button">
                                        <img class="indicator__icon" width="20px" height="20px" src="{% static 'images/logos/view.png' %}"> 
                                        <span class="fake-svg-icon"></span>
                                    </button>
                                    <div class="product-card__image">
                                        <a href="producto.html">
                                            <img src="{% static 'images/products/product-7.jpg' %}" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__info">
                                        <div class="product-card__name">
                                            <a href="producto.html">Brandix Pliers</a>
                                        </div>
                                        <ul class="product-card__features-list">
                                            <li>Speed: 750 RPM</li>
                                            <li>Power Source: Cordless-Electric</li>
                                            <li>Battery Cell Type: Lithium</li>
                                            <li>Voltage: 20 Volts</li>
                                            <li>Battery Capacity: 2 Ah</li>
                                        </ul>
                                    </div>
                                    <div class="product-card__actions">
                                        <div class="product-card__availability">Availability: 
                                            <span class="text-success">In Stock</span>
                                        </div>
                                        <div class="product-card__prices">$24.00</div>
                                        <div class="product-card__buttons">
                                            <button class="btn btn-primary product-card__addtocart" type="button">Add To Cart</button> 
                                                <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
                                                type="button">Add To Cart</button> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-list__item">
                                <div class="product-card"><button class="product-card__quickview"
                                        type="button">
                                        <img class="indicator__icon" width="20px" height="20px" src="{% static 'images/logos/view.png' %}">
                                        <span class="fake-svg-icon"></span>
                                    </button>
                                    <div class="product-card__image"><a href="producto.html"><img
                                                src="{% static 'images/products/product-8.jpg' %}" alt=""></a></div>
                                    <div class="product-card__info">
                                        <div class="product-card__name"><a href="producto.html">Water Hose
                                                40cm</a></div>
                                        <ul class="product-card__features-list">
                                            <li>Speed: 750 RPM</li>
                                            <li>Power Source: Cordless-Electric</li>
                                            <li>Battery Cell Type: Lithium</li>
                                            <li>Voltage: 20 Volts</li>
                                            <li>Battery Capacity: 2 Ah</li>
                                        </ul>
                                    </div>
                                    <div class="product-card__actions">
                                        <div class="product-card__availability">
                                            Availability: 
                                            <span class="text-success">In Stock</span>
                                        </div>
                                        <div class="product-card__prices">$15.00</div>
                                        <div class="product-card__buttons">
                                            <button class="btn btn-primary product-card__addtocart" type="button">
                                                Add To Cart
                                            </button> 
                                            <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
                                                type="button">
                                                Add To Cart
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-list__item">
                                <div class="product-card">
                                    <button class="product-card__quickview" type="button">
                                        <img class="indicator__icon" width="20px" height="20px" src="{% static 'images/logos/view.png' %}">
                                        <span class="fake-svg-icon"></span>
                                    </button>
                                    <div class="product-card__image">
                                        <a href="producto.html">
                                            <img src="{% static 'images/products/product-9.jpg' %}" alt=""></a>
                                        </div>
                                    <div class="product-card__info">
                                        <div class="product-card__name">
                                            <a href="producto.html">Spanner Wrench</a>
                                        </div>
                                        <ul class="product-card__features-list">
                                            <li>Speed: 750 RPM</li>
                                            <li>Power Source: Cordless-Electric</li>
                                            <li>Battery Cell Type: Lithium</li>
                                            <li>Voltage: 20 Volts</li>
                                            <li>Battery Capacity: 2 Ah</li>
                                        </ul>
                                    </div>
                                    <div class="product-card__actions">
                                        <div class="product-card__availability">
                                            Availability: 
                                            <span class="text-success">In Stock</span>
                                        </div>
                                        <div class="product-card__prices">$19.00</div>
                                        <div class="product-card__buttons">
                                            <button class="btn btn-primary product-card__addtocart" type="button">
                                                Add To Cart
                                            </button> 
                                            <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
                                                type="button">
                                                Add To Cart
                                            </button> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-list__item">
                                <div class="product-card">
                                    <button class="product-card__quickview" type="button">
                                        <img class="indicator__icon" width="20px" height="20px" src="{% static 'images/logos/view.png' %}">
                                        <span class="fake-svg-icon"></span>
                                    </button>
                                    <div class="product-card__image">
                                        <a href="producto.html">
                                            <img src="{% static 'images/products/product-10.jpg' %}" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__info">
                                        <div class="product-card__name">
                                            <a href="producto.html">Water Tap</a>
                                        </div>
                                        <ul class="product-card__features-list">
                                            <li>Speed: 750 RPM</li>
                                            <li>Power Source: Cordless-Electric</li>
                                            <li>Battery Cell Type: Lithium</li>
                                            <li>Voltage: 20 Volts</li>
                                            <li>Battery Capacity: 2 Ah</li>
                                        </ul>
                                    </div>
                                    <div class="product-card__actions">
                                        <div class="product-card__availability">Availability: <span
                                                class="text-success">In Stock</span></div>
                                        <div class="product-card__prices">$15.00</div>
                                        <div class="product-card__buttons"><button
                                                class="btn btn-primary product-card__addtocart"
                                                type="button">Add To Cart</button> <button
                                                class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
                                                type="button">Add To Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-list__item">
                                <div class="product-card"><button class="product-card__quickview"
                                        type="button">
                                        <img class="indicator__icon" width="20px" height="20px" src="{% static 'images/logos/view.png' %}">
                                        <span class="fake-svg-icon"></span></button>
                                    <div class="product-card__image"><a href="producto.html"><img
                                                src="{% static 'images/products/product-11.jpg" alt=""></a></div>
                                    <div class="product-card__info">
                                        <div class="product-card__name"><a href="producto.html">Hand Tool
                                                Kit</a></div>
                                        <ul class="product-card__features-list">
                                            <li>Speed: 750 RPM</li>
                                            <li>Power Source: Cordless-Electric</li>
                                            <li>Battery Cell Type: Lithium</li>
                                            <li>Voltage: 20 Volts</li>
                                            <li>Battery Capacity: 2 Ah</li>
                                        </ul>
                                    </div>
                                    <div class="product-card__actions">
                                        <div class="product-card__availability">Availability: <span
                                                class="text-success">In Stock</span></div>
                                        <div class="product-card__prices">$149.00</div>
                                        <div class="product-card__buttons"><button
                                                class="btn btn-primary product-card__addtocart"
                                                type="button">Add To Cart</button> <button
                                                class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
                                                type="button">Add To Cart</button> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-list__item">
                                <div class="product-card"><button class="product-card__quickview"
                                        type="button"><img class="indicator__icon" width="20px" height="20px" src="{% static 'images/logos/view.png' %}">
                                        <span class="fake-svg-icon"></span></button>
                                    <div class="product-card__image"><a href="producto.html"><img
                                                src="{% static 'images/products/product-12.jpg' %}" alt=""></a></div>
                                    <div class="product-card__info">
                                        <div class="product-card__name"><a href="producto.html">Ash's
                                                Chainsaw 3.5kW</a></div>
                                        <ul class="product-card__features-list">
                                            <li>Speed: 750 RPM</li>
                                            <li>Power Source: Cordless-Electric</li>
                                            <li>Battery Cell Type: Lithium</li>
                                            <li>Voltage: 20 Volts</li>
                                            <li>Battery Capacity: 2 Ah</li>
                                        </ul>
                                    </div>
                                    <div class="product-card__actions">
                                        <div class="product-card__availability">Availability: <span
                                                class="text-success">In Stock</span></div>
                                        <div class="product-card__prices">$666.99</div>
                                        <div class="product-card__buttons"><button
                                                class="btn btn-primary product-card__addtocart"
                                                type="button">Add To Cart</button> <button
                                                class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
                                                type="button">Add To Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-view__pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link page-link--with-arrow" href="#" aria-label="Previous">
                                    <svg class="page-link__arrow page-link__arrow--left" aria-hidden="true" width="8px" height="13px">
                                        <use xlink:href="images/sprite.svg#arrow-rounded-left-8x13"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">
                                    2 
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link page-link--with-arrow" href="#" aria-label="Next">
                                    <svg class="page-link__arrow page-link__arrow--right" aria-hidden="true" width="8px" height="13px">
                                        <use xlink:href="images/sprite.svg#arrow-rounded-right-8x13"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .products / end -->
{% endblock %}