{% extends 'base.html' %}

{% block body %}

{% load static %}
<div class="block">
    <div class="container">
        <h2>Procesando Pago..</h2>
    </div>
</div>
<div>
    <form id="transbankForm" action="{{url}}" method="POST">
        {% csrf_token %}
        <input id="token_ws" name="token_ws" type="hidden" value="{{token_ws}}" />
        <!-- <button type="submit">Pagar</button> -->
    </form>
</div>
<script>
    $(document).ready(function () {
        $("#transbankForm").submit();
    });
</script>
{% endblock %}
