{% extends 'base.html' %}

{% block body %}

{% load static %}
<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__title"><h1>Venta Finalizada</h1></div>
    </div>
</div>
<div class="block">
    <div class="container">
        <form action="" method="POST">
            <div class="form-group">
            </div>
            <a class="btn btn-primary" href="{% url 'index' %}">
                <span>Home</span>
            </a>
        </form>
    </div>
</div>
{% endblock %}