{% extends 'base.html' %}

{% block body %}

{% load static %}
<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__title"><h1>Ventas</h1></div>
    </div>
</div>
<div class="block">
    <div class="container">
        <table class="wishlist">
            <thead class="wishlist__head">
                <tr class="wishlist__row">
                    <th class="wishlist__column wishlist__column--product">N°</th>
                    <th class="wishlist__column wishlist__column--product">Fecha</th>
                    <th class="wishlist__column wishlist__column--product">Cantidad</th>
                    <th class="wishlist__column wishlist__column--product">Total</th>
                    <th class="wishlist__column wishlist__column--product">Estado</th>
                    <th class="wishlist__column wishlist__column--product"></th>
                </tr>
            </thead>
            <tbody class="wishlist__body">
            {% for i in ventas %}
                <tr class="wishlist__row">
                    <td class="wishlist__column wishlist__column--product">
                        <a class="wishlist__product-name">{{ i.idventa }}</a>
                    </td>
                    <td class="wishlist__column wishlist__column--product">{{ i.fechaventa }}</td>
                    <td class="wishlist__column wishlist__column--product">{{i.get_venta_items}}</td>
                    <td class="wishlist__column wishlist__column--product">{{i.get_venta_total}}</td>
                    <td class="wishlist__column wishlist__column--product">{{i.idestadoventa.nombreestadoventa}}</td>
                    <td class="wishlist__column wishlist__column--product">
                        <a class="btn btn-info btn-sm" href="{% url 'detalle_venta' i.idventa %}">Ver Detalle Venta</a>
                        {% for j in despachos %}
                            {% if i.idventa == j.idventa.idventa %}
                                <br><br>
                                <a class="btn btn-success btn-sm" href="{% url 'detalle_despacho' j.iddespacho %}">Ver Detalle Despacho</a>
                            {% endif %}
                        {% endfor %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}