{% extends 'base.html' %}

{% block body %}

{% load static %}
<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__title">
            <h1>Preguntas Frecuentes</h1>
        </div>
    </div>
</div>
<div class="block faq">
    <div class="container">
        <div class="faq__section">
            <div class="faq__section-title">
                <h3>Información de Despacho</h3>
            </div>
            <div class="faq__section-body">
                <div class="row">
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>¿Qué comunas están disponibles para despacho?</h6>
                            <p>Los despachos y compras sólo estarán disponibles para la comuna.</p>
                        </div>
                    </div>
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>¿Cómo puedo saber en qué proceso esta mi envío?</h6>
                            <p>Ingresando a su cuenta tendrá acceso a mis compras en el menú, haciendo click
                                se listarán todas las compras realizadas con la cuenta que se ingresó incluyendo el estado de envío.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq__section">
            <div class="faq__section-title">
                <h3>Información de Cuenta</h3>
            </div>
            <div class="faq__section-body">
                <div class="row">
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>¿Cómo puedo restablecer mi contraseña?</h6>
                            <p>En la página para iniciar sesión estará disponible el link para restablecer su contraseña 
                                ingresando el email correspondiente, le llegará un email donde podrá crear una nueva contraseña.</p>
                            <h6>¿Cómo puedo cambiar mi contraseña?</h6>
                            <p>Habiendo iniciado sesión podrá ingresar en su perfil donde estará disponible la sección Cambiar Contraseña,
                                donde podrá ingresar una nueva contraseña. Esto sólo es posible ingresando su contraseña anterior.</p>
                        </div>
                    </div>
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>¿Cómo puedo cambiar mis datos?</h6>
                            <p>Habiendo iniciado sesión podrá ingresar en su perfil donde estará disponible la sección Datos Personales
                                donde se podrán cambiar su información exepto por el email y sí es una empresa.</p>
                            <h6>¿Cómo puedo ver mi historial de compras?</h6>
                            <p>Ingresando a su cuenta tendrá acceso a mis compras en el menú, haciendo click
                                se listarán todas las compras realizadas con la cuenta que se ingresó, también 
                                se podrá acceder a más información de la compra haciendo click en ver más detalles.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq__section">
            <div class="faq__section-title">
                <h3>Otras preguntas frecuentes</h3>
            </div>
            <div class="faq__section-body">
                <div class="row">
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>¿Cómo puedo comprar?</h6>
                            <p>Sólo se puede realizar una compra teniendo una cuenta y se deben haber completado todos los datos
                                 de información personal, así el cliente podrá añadir elementos al carro de compra y efectuar el pago correspondiente.</p>
                            <h6>¿Qué medios de pago están disponibles?</h6>
                            <p>Los medios de pago disponibles son los estipulados por transbank.</p>
                        </div>
                    </div>
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>¿Cómo puedo comprar con factura?</h6>
                            <p>Se debe crear una cuenta e indicar que es una empresa, así al efectuar una compra se efectuará
                                inmediatamente una factura.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}